/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
# Filter Bar
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.filter-bar {
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    /* margin: 3.5rem 0; */
    margin: 2rem;
    gap: 2rem;
}

.checkboxes {
    flex-wrap: wrap;
    display: flex;
    gap: 2rem;
}

.checkbox {
    justify-content: center;
    margin-bottom: 10px;
    display: flex;
}

.toggle-checkbox {
    display: none;
}

.toggle-label {
    margin-right: 12px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.toggle-slider {
    background-color: #ccc;
    display: inline-block;
    border-radius: 34px;
    position: relative;
    cursor: pointer;
    height: 25px;
    width: 50px;
}

.toggle-slider:before {
    transition: transform 0.3s ease-in-out;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    height: 16px;
    width: 16px;
    content: "";
    left: 4px;
    top: 4px;
}

.toggle-checkbox:checked+.toggle-label+.toggle-slider {
    background-color: #007bff;
}

.toggle-checkbox:checked+.toggle-label+.toggle-slider:before {
    transform: translateX(26px);
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
# Search Bar
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.search-bar {
    border: 1px solid #ccc;
    align-items: center;
    border-radius: 20px;
    max-width: 300px;
    overflow: hidden;
    display: flex;
    height: 40px;
    width: 100%;
}

.search-input {
    background: transparent;
    padding: 0 10px;
    font-size: 16px;
    height: 100%;
    border: none;
    flex: 1;
}

.search-input:focus {
    border-bottom-left-radius: 18px;
    border-top-left-radius: 18px;
}

.search-button {
    background-color: var(--blue);
    cursor: pointer;
    outline: none;
    border: none;
    height: 100%;
    width: 40px;
}

.search-button i {
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    color: #fff;
}